* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.nav{
    height: 100px;

}
/* 更改按鈕顏色 */
.nav-link {
    color: rgb(53, 53, 53);

}
.nav :hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px white, -1px -1px #8a8a8a
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #252525;
    background-color: rgb(124, 124, 124);
}
.imgH{
    height: 512px;
    object-fit: cover;
}
.btn {
    box-shadow: 0 0 2px 1px lightgray;
    border-radius: 10rem;
  }