* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 300;
}

h1,
h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.mySwiper{
    max-width: 100%;
}
.p1 {
    text-indent: 2rem;
}

.line {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

a:link {
    color: rgb(39, 39, 39);
}

/*(a的專用) :visited 拜訪過的連結 */
a:visited {
    color: rgb(39, 39, 39);
}

/* :hover -botton-滑動效果/滑鼠移動至該位會產生的效果 */
a:hover {
    color: aliceblue;
}

.nav {
    height: 100px;

}

/* 更改按鈕顏色 */
.nav-link {
    color: rgb(53, 53, 53);

}

.nav :hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px white, -1px -1px #8a8a8a
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #252525;
    background-color: rgb(124, 124, 124);
}

dialog {
    width: 50%;
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 5px;
    
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
}
.infoModal,.contactText{
    color: #252525;
    text-align: center;
    text-shadow: none;
}
.contactText .bi:hover{
    pointer-events: none;
    
}
.close{
    border: 0;
    height: 2rem;
    border-bottom: 0.2rem gray solid;
    background-color: unset;
}

/* .carousel-inner{
    max-width: 100%;

} */
.imgH {
    height: 800px;
    object-fit: cover;

}

.btn {
    /* box-shadow: 0 0 2px 1px rgb(48, 48, 48); */
    border-radius: 0;
    /* background-color: rgba(240, 248, 255, 0.226); */
    color: rgb(148, 148, 148);
    border-bottom: 0.2rem gray solid;
}

.scrollDown {
    font-size: 1.2rem;
    text-align: center;
    line-height: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(39, 55, 77);
}

.card {
    border: 0;
}

.card-img-top {
    object-fit: cover;
    border-radius: 0.2rem;
}

